body{
    background-image: url(/assets/wave.svg);
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

header ul{
    list-style: none;
    padding: 5px;

}

header ul li a{
    text-decoration: none;
    color: inherit;
}

.link1{
    padding: 5px 17px 5px 17px;
    border: 2px solid ;
    height: 100px;
    border-radius: 3px;
}

.link2{
    padding: 5px;
    border: 2px solid ;
    border-radius: 3px;
}

.link1:hover, .link2:hover{
    background-color: #00ccff;
}

section>h1{
    text-align: center;
}

.hero {
    padding: 2%;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #000099;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    display: flex;
  }

.judul{
    text-align: center;
    color: #a2d9ff;
    font-size: 50px;
    background-color: #000099;
    margin-top: -0.5px;
    padding: 40px;
    border-radius: 10px;
}

.hero p,
.hero ul li {
  font-size: 18px;
  list-style-type: none;
}

.hero>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

#rumus{
    font-size:large;
    font-weight: bolder;
}

.kalkulator {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #000099;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 300px;
  }
  
  .kalkulator input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #00ccff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000099;
  }
  
  #Hasil_Perhitungan,
  #Hasil_Perhitungan2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }



footer{
    background-color: #0099ff;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 0;
}
